@layer{}
@media(max-width: 1410px){
body{
    background-color:#ffffff;
    ;
    color: #77c2ec;
    max-width: 1230px;
    margin: 0 auto;
    padding: 15px;
   z-index: 3;
}

.btn-ini{
   position: absolute;
   margin-top: 390px;
   margin-left: 950px;
   border: none;
   border-radius: 20px;
   line-height: 70px;
   text-align: center;
   cursor: pointer;
   width: 244px;
   height: 74px;
   

   background-color: #437A6F;
   font-size: 35px;
   color: #ffffff;
   z-index: 2;
}
.btn-ini:hover{
    color: #77c2ec;
    background-color:black;
    transition: 0.5s;
}




header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:-30px ;
    margin-left: -200px;
    height: 100px;
    width: 1490px;

    background-color: #437A6F;
    color: white;
    font-size: large;
    font-family: inherit;
    z-index: 1;
}
h2{
    position: relative;
    margin-top: 100px;
    font-size: 80px;
}
p{
    position: relative;
   width: 400px;

   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
}

#title{
    position: absolute;
    align-items: center;
    top: 140px;
    margin-top: 80px;
    margin-left: 970px;


    z-index: 2;
    color: white;
    font-size:larger

}
ul{
    margin: 100px;
    z-index: 2;
}
li{
    position: relative;
    display: inline-block;
    align-items: center;
    margin: 20px;
    margin-top: 20px;
    margin-left: 80px;
    z-index: 2;
}
a{ 
    position: relative;
    align-items: center;
    font-size: larger;
    color: white;
    
}
a:hover{
    color: cadetblue;
    transition: 0.5s;
}
main{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top:600px;
    margin-left: 2px;
    z-index: 2;
}

.imgta{
    height: 700px;
    width:1390px;
    position: absolute;
    


    margin-left: -100px;
    margin-top: px;
}
.imgtp{
    height: 620px;
    width: 600px;
    position: absolute;


    margin-top: 750px;
    margin-left: 630px;
}
}


